ion-content ion-toolbar {
  --background: translucent;
  --border-radius: 2px;

}

.profile-img {
  width: 14vh;
  height: auto;
  border: gray solid 1px;
}

.accordion-list {
  height: 100%;
}
.section {
  background: #fff;
  color: #000;
  margin-bottom: 4px;
}
.section-active {
  background: #3dc2ff;
  color: #ffffff;
}